/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  padding: 0;
  margin: 0;
}

table {
  width: 100%;
}

.mat-column-action {
  width: 120px;
  padding-right: 0px !important;
  & > .mat-mini-fab {
    margin: 0px  10px;
  }
}

.mat-paginator {
  .mat-paginator-outer-container {
    .mat-paginator-container {
      display: flex;
      justify-content: flex-start;
    }
  }
}

.mat-form-field {
  margin: 0 10px;
}

