<div class="header"></div>
<div class="body">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ "Name" }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fname }} {{ element.lname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Email Address" }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Age" }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.age }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-label="Example home icon">edit</mat-icon>
        <mat-icon aria-label="Example home icon">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="footer">
  <mat-paginator
    #paginator
    class="bottom-radius"
    [pageSize]="10"
    [hidePageSize]="true"
    showFirstLastButtons
  ></mat-paginator>

  <button mat-raised-button color="primary">Add new</button>
</div>
