:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    width: calc(100% - 40px);
    height: auto;
    background-color: #424242;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

    span.filter-by {
      color: #ffffff;
    }
  }

  .body {
    width: 100%;
  }

  .footer {
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #424242;
    padding: 10px 20px;
  }
}
