<div class="header">
  <form [formGroup]="filterForm">
    <span class="filter-by">Filter by:</span>
    <mat-form-field class="select-filter" appearance="outline">
      <mat-label>Select Company Location</mat-label>
      <mat-select
        formControlName="location"
      >
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select-filter" appearance="outline">
      <mat-label>Select Company Size</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let size of sizes" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab (click)="filterEmployee()">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</div>
<div class="body">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ "Name" }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fname }} {{ element.lname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Email Address" }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>
        {{ "Age" }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.age }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab [routerLink]="['/', element._id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab (click)="deleteEmployee(element.fname, element._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="footer">
  <mat-paginator
    #paginator
    class="bottom-radius"
    [pageSize]="10"
    [hidePageSize]="true"
    showFirstLastButtons
  ></mat-paginator>

  <button mat-raised-button color="primary" [routerLink]="['/', '0']">
    Add new
  </button>
</div>
